<% if flash[:notice] %>
	<div class = "flash">
		<%= flash[:notice] %>
	</div>
<% end %>

<div  class = "show-text_body">
	<strong>Title:</strong>
	<%= @book.title %>
</div>
<div  class = "show-text_body">
	<strong>Body:</strong>
	<%= @book.body %>
</div>
<h4>
	<a class = "show-icon">
		<%= link_to "Edit", edit_book_path(@book.id) %>
	</a>
	|
	<a class = "show-icon">
		<%= link_to "Back", books_path %>
	</a>
</h4>